:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --red: #ff0303;
    --green: #11bc0b;
    --bodybg: #efefef;
    --footerbg: #101010;
    --footerlibg: #eaeaea;
    --border: #ccc;
    --primary: #173b16;
    --secondary: #dcaf3d;
    --lightbg: #f2f2f2;

  }

html, body{ margin: 0; padding: 0;}
html{ font-size: 14px}
body{ font-family:  Arial, Helvetica, sans-serif ; font-weight: 400; font-size: 1rem; color: #333; background-color: var(--white);}
ul{ margin: 0; padding: 0; list-style: none;}
a{ text-decoration: none; color: var(--btn-primary);
&:hover{ color: var(--secondary);}
}
h1,h2,h3,h4,h5,h6{ font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;}
h2{ font-size: 2rem; font-weight: 600;}
h3{ font-size: 1.4rem; font-weight: 600;}
hr{width: 100%; height: 1px; color: var(--border); margin: 1.5rem 0; padding: 0;}
p{ margin: .5rem 0;}
.large-font{ font-size: 1.4rem;}
.m-t-1{ margin-top: .5rem;}
.m-t-2{ margin-top: 1rem;}
.m-t-3{ margin-top: 1.5rem;}
.m-t-2{ margin-top: 1rem;}
.m-b-1{ margin-bottom: .5rem;}
.m-b-2{ margin-bottom: 1rem;}
.m-l-1{ margin-left: .5rem;}
.m-r-1{ margin-right: .5rem;}
.m-x-1{ margin-left: .5rem; margin-right: .5rem;}
.m-y-1{ margin-top: .5rem; margin-bottom: .5rem;}
.m-y-2{ margin-top: 1rem; margin-bottom: 1rem;}
.m-y-3{ margin-top: 1.5rem; margin-bottom: 1.5rem;}
.bold{ font-weight: bold;}
.green{ color: var(--green);}
main{ margin: 0;}
.logo-title{ font-size: 2.5rem; text-transform: uppercase; margin-left: 1rem; font-family: 'Roboto Condensed'; color: var(--secondary);}
.light-bg{ background-color: var(--lightbg); }
.address{ font-size: 1.2rem;}
.pos-rel{ position: relative;}
.pos-abs{ position: absolute;}
.full-width{ width: 100%;}
.text-link{ color: var(--blue);}
.link-large{ color: var(--blue); font-size: 2rem;}
header.page-header{ background-color: var(--white); }
.menu-bar{ background-color: var(--primary);}
.flex-container{ width: 100%;}
.border-bottom{ border-bottom: 1px solid var(--white);}
.copyright{ background-color: var(--footerbg); color: var(--white); padding: 1rem 2rem;}
.flexbox{ display: flex; flex-direction: row; }
.form-control-line{
    display: block;
    width: 100%;
    input[type="text"]{border: 0; padding: .4rem .8rem; border-bottom: 1px solid var(--border) ;}
}
.footer-links{ background-color: var(--footerlibg); padding:0 1rem;
    [class*='col']{
        margin: 2.5rem 0;
    }
 h3{  
    font-weight: 600; color: var(--footerbg); margin-bottom: 1.2rem; font-size: 1.2rem;
&+ul{
 >li{ 
    margin-bottom: .8rem; 
}
}
}
}
.sec-pad{ padding: 3rem 0;}
.main-menu{
   > ul{
        >li{
            display: inline-block;
            vertical-align: top;
            padding: 1rem 1.5rem;
            font-size: 1.2rem;
            >a{
                color: var(--white);
            }
        }
    }
}
.right-menu{
    >ul{
        >li{
            display: inline-block;
            vertical-align: middle;
            padding: 0 .5rem;
            >a{
                color: var(--footerbg); font-size: 1.5rem;
            }
        }
    }
}

.category-menu{
    padding: 1rem 0;
    >ul{ display: flex; flex-direction: row; 
        >li{ padding: .3rem 2.5rem .3rem 0; position: relative;
            >a{color: #fff; position: relative; font-family: 'Roboto Condensed'; letter-spacing: .5px; font-size: 1.2rem;
                &:hover{ color: var(--secondary);}
           // &:after{ content: "\f078"; position: absolute; font-family: "Font Awesome 6 Free";}
            }
            .submenu{
                display: none;
            position: absolute;
            left: 0;
            min-width: 295px;
            background: var(--white);
            padding: 1rem;
            z-index: 100;
            border-radius: 0 0 1rem 1rem;
            top: 2rem;
            box-shadow: 0 0 6px 4px rgb(0 0 0 / 20%);
            li{ > a{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: .3rem 0;
            }
            }
        }
        &:hover{           
            .submenu{ display: block;} 
        }
        }
    }
}
.badge{ background-color: var(--white); display: inline-block; border-radius: 50%; padding:.15rem .3rem; font-size: .7rem; color: var(--white);
&.red{
   background-color: var(--red); 
}
&.abspos{
    position: absolute; top:0; right: 0;
}
}
.subscribe { margin-top: 1rem;
 .form-control{ width: 75%;}
}
.icon-list{
   >li{
    position: relative;
    padding-left: 1.6rem;
    i{
        position: absolute; left: 0; top: .4rem;
    }
   }
}
.section-heading{ 
    margin-bottom: 1rem; font-size: 2rem;
    small{
        margin-top: .5rem;
        font-size: .8rem;
        color: var(--border);
        display: block;
        font-family: Arial, Helvetica, sans-serif;
    }
}
.menu-list-block {
    border-radius: 1rem;
    width: 100%;
    height: 240px;
    overflow: hidden;
    position: relative;
    transition: .5s ease all;
    margin-top: 0;
    box-shadow: 6px 5px 12px 2px rgb(0 0 0 / 20%);
    &:before{
        content: '';
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0,0,0,.2);
        position: absolute;
        left: 0;
        top: 0;
    }
    &:after{
        content: '';
        width: 100%;
        height: 100%;
        z-index: 2;
        transition: .5s ease all;
        position: absolute;
        left: 0;
        top: 0;
    }
   a.item-link {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    left: 10%;
    background: var(--primary);
    color: var(--white);
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 0.4rem;
    font-weight: 600;
    z-index: 4;
    transition: .5s ease all;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.2);
     >span {
        display: inline-block;
        right: 0.5rem;
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        background-color: var(--secondary);
    }
}
&:hover{
    &:after{box-shadow: inset 3px 8px 8px rgb(0 0 0 / 40%);}
    margin-top: -5px;
    
    a.item-link{ background-color: var(--secondary);
       span{
        background-color: var(--white);
        color: var(--primary);
       }
    }

}
}
.testimonials-block{ 
    background-color: var(--footerbg); padding: 3rem 0;
    .testi-block{
        padding: 1rem 2rem; color: var(--white);
        h3{
             font-size: 1.4rem;
             small{ font-size: .8rem; display: block; font-weight: 400;}
        }
        .img-block{
            width: 10rem; height: 10rem; border-radius: 50%; overflow: hidden; display: inline-block; margin-bottom: 2rem;
            img{ display: block; width: 100%;}
        }
        .desc{ margin-top: 1rem;}
    }
}
.needhelp-block{
    background-color: var(--footerbg); padding: 3rem 0;
    h3{
        font-size: 3rem;
        color: var(--white);
    }
    p{
        font-size: 1.5rem;
        color: var(--white);
    }
    .btn{ font-size: 2.2rem; border-radius: 3rem; padding: 1rem 3.5rem; margin-top: 2rem;}
}
.owl-carousel{
    .owl-nav{
        text-align: center;
        button.owl-prev,button.owl-next{
            background-color: var(--secondary)!important; 
            color: var(--white)!important;
            padding: .5rem 2rem;
            min-width: 5rem;
            margin: 0 .3rem;
            border-radius: 3rem;            
            font-size: 2rem!important;
            span{
                line-height: 1;
            }
        }
        button.owl-prev.disabled,button.owl-next.disabled{
            color: var(--white)!important;
            background-color: var(--border)!important;
            opacity: .7;
            
          
        }
       
    }
}

.social-media{ i{ font-size: 1.8rem;}}
input.form-control { padding: 0.6rem 1rem; border-radius: 0.3rem; background-color: var(--white); border: 1px solid var(--border); }
.checkbox{
    display: inline-block;
    position: relative;
    padding-left: 2.5rem;
   >input[type='checkbox']{
    opacity: 0; width: 1.8rem; height: 1.8rem; position: absolute; left: 0; top: 0;
    &:checked+span:before{content: "\2713"; position: absolute; left: .5rem; top: .3rem; font-size:1.2rem; font-weight: bold;}
   } 
   &:before{
    content:""; position: absolute; left: 0; top: .3rem; width: 1.8rem; height: 1.8rem; border: 1px solid var(--border);
}
}
.radio{
    display: inline-block;
    position: relative;
    padding-left: 2.5rem;
    input[type='radio']{opacity: 0; width: 1.8rem; height: 1.8rem; position: absolute; left: 0; top: 0;
    +.radio-desc{
        &:before{ content: ""; width: 1.8rem; height: 1.8rem; border: 1px solid var(--border); border-radius: 50%; position: absolute; left: 0; top: .3rem;}
        &:after{ content: ""; width: 1.4rem; height: 1.4rem; background-color: transparent; border-radius: 50%; position: absolute; left: .2rem; top: .5rem;}
    }
    &:checked{
        +.radio-desc{
            &:after{ background-color: var(--green);}
        }
    }
    }
   
}
.btn{ 
    border-radius: .5rem; background-color: var(--primary); padding: .5rem 1rem; color: var(--white); transition: .5s ease all; box-shadow: 0 0 0 0 rgba(0,0,0,.4); display: inline-block; border: none;
  &.btn-secondary{ background-color: #dcaf3d;}
  &:hover{ box-shadow: 2px 3px 0 1px rgba(0,0,0,.2); color: var(--white);}
  &.btn-border{
    background-color: var(--white); border: 1px solid var(--border);
    color: var(--footerbg);
  }
  &.white-btn{
    background-color: var(--white); color: var(--footerbg); font-size: 1.4rem; font-weight: bold;
    &:hover{
        background-color: var(--secondary);
    }
  }
  &.btn-large{ font-size: 1.5rem; padding: .8rem 2.5rem;}
}
.stars{ 
    width: 100px; height: 24px; background: url('../images/star-light.png') 0 0 repeat-x; position: relative; display: inline-block;
    &:after{
        content: ""; 
        background: url('../images/star.png') 0 0 repeat-x;
        position: absolute;
        left: 0;
        top: 0;
        height: 24px;
    }
    &.star1:after{width: 20px;}
    &.star2:after{width: 40px;}
    &.star3:after{width: 60px;}
    &.star4:after{width: 80px;}
    &.star5:after{width: 100px;}
}

.featured-categories{
    background-color: var(--white);
    .cat-list{
        a.active{ color: var(--secondary);}
    }
}
.feature-cat-list{
    .cat-item{
        border-radius: 1rem; 
        background-color: #fff6dc;
        box-shadow: 0 0 6px 0 rgb(0 0 0 / .2);
        margin-bottom: 4rem;
        .img-block{
            width: 100%;
            height: 175px;
            overflow: hidden;
            border-radius: 1rem 1rem 0 0;
            transition: .5s ease all;
            img{ width: 100%;}
        }
        .item-desc{
            padding: 0 1rem;
            .price{ font-weight: 900; font-size: 1.1rem; color: var(--blue);}
            p{ font-size: .9rem;}
            >.flexbox:first-of-type {flex-direction: column;
                >h4{ min-height: 2.5rem;}
                >.price-block{ display: flex; flex-direction: row; 
                    .price {
                        font-weight: 900;
                        font-size: 1.1rem;
                        color: var(--blue);
                    }
                    .strike-price {
                        color: var(--red);
                        display: inline-block;
                        margin-left: 0.5rem;
                        text-decoration: line-through;
                        font-size: .9rem;
                        line-height: 1.5rem;
                    }
                }
            }
            .loc-name {
                font-size: .9rem;
            }
        .location-info{ 
            position: relative;
            i{font-size: 1.6rem; color: var(--primary);}
           
            .loc-hov {
                display: none;
                position: absolute;
                font-size: .8rem;
                width: 14rem;
                left: -7rem;
                background: rgba(0,0,0,.7);
                color: var(--white);
                padding: 0.5rem;
                border-radius: 0.3rem;
                text-align: center;
                z-index: 3;
            }
            &:hover{
                .loc-hov{ display: block;}
            }
            
        }
        .btns-block {
            margin-top: .5rem;
            margin-left: -1rem;
            margin-right: -1rem;
            margin-bottom: -1rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .btn{ width: 50%; padding-top: .8rem; padding-bottom: .8rem;
             &:first-child{ border-radius: 0 0 0 1rem;}
             &:last-child{ border-radius: 0 0 1rem 0 ;}
            }
        }
        }

        &:hover{ background-color: var(--white); }
        
    }
}

.would-like-block{
    padding: 3rem 2rem;
    background-color: var(--footerbg);
    color: var(--white);
    .img-block{
        height: 350px; overflow: hidden;
        border-radius: 2rem;
    }
    h3{ font-size: 1.6rem; font-weight: bold;}
}

.newreleased-item {
    position: relative;
    h3{ font-size: 1.3rem;}
    .img-block{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 1.5rem;
}
.item-desc{
    border-radius: 1.5rem;
    color: var(--white);
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--footerbg);
}
&:hover{
    .item-desc{
    background-color: var(--secondary);
}
}
}
.filter-block{
    border-bottom: 1px solid var(--primary);
    padding: 1rem;
}
.breadcrumb{
        >li{
            font-size: 1.4rem;
            color: var(--footerbg);
            font-weight: bold;
            position: relative;
            padding-left: 1rem;
            padding-right: 1rem;
            display: inline-block;
            &:not(:last-child)::after{
                content: '';
                width: 1px;
                height: 100%;
                background-color: var(--primary);
                position: absolute;
                right: 0;
                top: 0;
            }
            a{                
                color: var(--border);
            }
    }
}
.filter-container{
  position: relative;
  .filter-list{
    display: none;
    position: absolute;
    background-color: var(--white);
    padding: 2rem ;
    box-shadow: 0 0 0 9px 5px rgba(0,0,0,.2);
    left: 0;
    right: 0;
    width: 100%;
    border-radius: 0 0 .5rem .5rem;
    z-index: 1001;
    li{
        display: block;
        min-height: 2.5rem;
        a{
            display: block;
        }
    }
    &.active{ display: block;}
}  

}
.price_range{
    position: relative;
    min-height: 3.5rem;
    &:before,&:after{        
        position: absolute;       
        top: 1rem;
        z-index: 10;
        width: 3rem;
        height: 2rem;
        font-size: .9rem;
        line-height: 1;
        
    }
    &:before{
        content: 'Min 100';
        left: 0;
    }
    &:after{
        content: 'Max 1000';
        right: 0;
    }
}
.discount-block{
    ul{
        li{ padding-bottom: .4rem;}
    }
}
.filter-btn{display: inline-block; border-radius: 3rem; font-size: 1.4rem; padding: 1rem 2rem; font-weight: bold; text-transform: uppercase;
&:hover{ background-color: #dcaf3d; border-color: var(--secondary); color: var(--white);}
}
.list-item{
    padding: 1rem 0;
    border-bottom: 1px solid var(--border);
    margin-bottom: 1rem;
    .img-block{
        width: 100%;
        height: 260px;
        overflow: hidden;
        border-radius: 2rem 0 0 2rem ;
        img{ height: 100%; width: auto;}
    }
    h2{
        font-size: 2rem; font-weight: bold; margin-bottom: 1rem;
    }
    .order-time{ font-weight: bold; font-size: 1.3rem; margin-top: 1rem;}
    .price-list{ margin-top: 1rem; 
     .offer-price{ font-size: 2.3rem; font-weight: bold; display: inline-block; margin-right: 1rem;}
     .actual-price{ font-size: 1.4rem; text-decoration:line-through; font-weight: 600; margin-right: 1rem;}
    }
    .cart-sec{
        .stars{
            display: inline-block;
        }
        font-size: 1.3rem; 
        .btn{ color: var(--footerbg); padding: .7rem 1.2rem;}
        .update-items{
            span{ font-size: 2rem; display: inline-block; margin-right: 1rem; margin-left: 1rem;}
            .btn{ font-size: 2rem; padding: .2rem 1.2rem; line-height: 1;}
          } 
    }
}
.items-detail-container{
    .img-block{
        width: 100%;
        border-radius: 1rem;
        overflow: hidden;
    }
    .des-details{ line-height: 1.5;
        .order-time{ font-weight: bold; font-size: 1.3rem; margin-top: 1rem;}
    .price-list{ margin-top: 1rem; 
     .offer-price{ font-size: 2.3rem; font-weight: bold; display: inline-block; margin-right: 1rem;}
     .actual-price{ font-size: 1.4rem; text-decoration:line-through; font-weight: 600; margin-right: 1rem;}
    }
    }
}
.hilight-section{ background-color: #fbeec9; padding: 1rem 0; font-size: 1.5rem; color: var(--primary);
 a{ color: var(--blue);
    &:hover{ color: var(--secondary);}
}
}
.white-block{
     background-color: var(--white);
     padding: 1rem 2rem;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    >header{
        padding-top: .5rem; padding-bottom: .5rem;
        border-bottom: 1px solid var(--border);
    }
}
.order-summary{
    .light-bg{ margin-left: -2rem; margin-right: -2rem; padding-left: 2rem; padding-right: 2rem}
}
.payment-modes{
    ul{
        li{ padding: 1rem 0;
        &:not(:last-child){ border-bottom: 1px solid var(--border);}
        }
    }
}
.order-success{
    padding:1rem 0;
    position: relative;
    padding-left: 6rem;
    p{
        padding: .5rem 0;
        font-size: 1.3rem;
    }
    &:before{
        content: "";
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 1rem;
        border-radius: 50%;
        border: 1px solid var(--green);
    }
    &:after{
        content: "\2713";
        line-height: 3.5rem;
        color: var(--white);
        font-size: 2rem;
        text-align: center;
        width: 3.4rem;
        height: 3.4rem;
        position: absolute;
        left: .3rem;
        top: 1.3rem;
        border-radius: 50%;
        background-color: var(--green);
    }
}
table.table {
    table-layout: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    >thead{
        th{
        padding: .8rem;
        background-color: var(--footerlibg);
        color: var(--footerbg);
        font-weight: bold;
        text-align: left;
    }
    }
    tbody{
        tr{
            td{
                padding: .8rem;
                color: var(--primary);
                border-bottom: 1px solid var(--border);
            }
        }
    }
}
.category-search{ border-radius: .4rem; border: 1px solid var(--border); padding: .5rem;
    display: flex;
    flex-direction: row;
    position: relative;
 .selectedcat{
    cursor: pointer;
    position: relative;
    font-weight: bold;
    width: 36%;
    padding-left: 2rem;
    i{ position: absolute; left: .3rem; top: 0; font-size: 1.3rem;}
    &:before{ content: ""; position: absolute; right: 5%; top: 2%; width: 1px; height: 96%; background-color: var(--border);}
 }
 input[type="text"]{ border: 0; height: 2.5rem; width: 63%;}
 ul.category-list {
    display: none;
    position: absolute;
    left: 1rem;
    top: 3.6rem;
    z-index: 10;
    background: var(--white);
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 4px 9px 2px rgb(0 0 0 / 20%);
    min-width: 40%;
    &.active{ display: block;}
    >li{
        display: block;       
       &:not(:last-child){ border-bottom: 1px solid var(--border);}
        a{ display: block;  padding: .5rem;
         &:hover{
            background-color: var(--lightbg);
         }
        }
    }
}
}
.user-menu{
    i{ &:not(.small){
        font-size: 1.5rem;
    }}
    .user-menu-list {
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            border-bottom: 0.8rem solid rgba(0, 0, 0, 0.2);
            position: absolute;
            right: 2rem;
            top: -0.8rem;
        }
        &:after {
            content: "";
            width: 0;
            height: 0;
            border-left: 0.4rem solid transparent;
            border-right: 0.4rem solid transparent;
            border-bottom: 0.8rem solid var(--white);
            position: absolute;
            right: 2rem;
            top: -0.7rem;
        }
        ul > li{ display: block; padding: .5rem 0; border-bottom: 1px solid var(--lightbg);}
        position: absolute;
        z-index: 9999;
        background: var(--white);
        padding: 1rem;
        min-width: 10rem;
        text-align: left;
        border-radius: 0.5rem;
        box-shadow: 0 0 1px 1px rgb(0 0 0 / 10%);
        top: 2.8rem;
        right: 0;
        display: none;
    }
}
.open>.dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}
@media (max-width: 767px) {
    .category-menu { 
        >ul{
            flex-direction: column;
            >li{
                .submenu{
                    position: relative; top: 0; width: 100%;
                }
            }
        }
    }
    .category-search{
        .selectedcat{
            width: 50%;
        }
        input[type=text]{
            width: 50%;
        }
    }
    .newreleased-item,.menu-list-block{ margin-bottom: 1rem;}
    .would-like-block .img-block{ height: auto;}
    .footer-links [class*=col]{ margin: 1rem 0;}
    .sec-pad{ padding: 1rem 0;}
  }